/* Палитра
Цвет body #ffffff;
Цвет секции "Наша Команда" #F5F4FA
Основной цвет текста #212121;
Вторичный цвет текста #757575;
Цвет хедера #ffffff;
цвет футера #2F303A
Вспомогательный цвет  #2196F3 */

/* .root {
--primary-text-color:#212121;
--secondary-text-color:#757575;
--accent-color:#2196F3;
--footer-color:#2F303A;
--backround-color-section:#F5F4FA;
} */

/* Body */

.page {
background-color: #ffffff;
color: #212121;
font-size: 14px;
letter-spacing: 0.03;
font-family: 'Roboto', sans-serif;
}

ul {
list-style: none;
}


/* Header */

.site {
    background-color: #FFFFFF;
}

.logo {
color: #2196F3;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
text-decoration: none;
}
.logo:hover,
.logo:focus {
color: #212121;
}


.site-nav {
color: #212121;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}

.site-nav:hover,
.site-nav:focus {
color: #2196F3;
}


.auth-nav {
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}

.auth-nav:hover,
.auth-nav:focus {
    color: #2196F3;
}

/* Project */


.list-button {
font-size: 16px;
line-height: 1.62;
text-align: center;
background-color: #F5F4FA;;
color: #212121;
}
.list-button:hover {
background-color: #2196F3;
color: #FFFFFF;
}


/* Address */

.address {
color: #FFFFFF;
line-height: 1.4;
}

/* Footer */

.footer {
    background-color:#2F303A;
}
       